/* Styling for the visuals container */
.visuals {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.visualizer {
  color: white;
  margin-top: 90px; /* Adjust top margin */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*pivot legend*/
.legend {
  position: absolute;
  left: 10%;
  top: 20%;
  padding: 2px 5px;
  color: #fff;
  border: 3px solid transparent;
  border-image-source: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-image-slice: 1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

/* Styling for the pivot legend label */
.legend__lable {
  height: 5px;
  width: 20px;
  background-color: #fff;
  margin-right: 3px;
}

/* Styling for the visual items container */
.visual__items {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 340px;
  margin-bottom: 40px;
  border-bottom: 1px solid white;
  position: relative;
}

/* Styling for each individual visual item */
.visual__item {
  position: absolute;
}

/* Styling for the h4 element inside visual items */
.visual__item > h4 {
  font-size: 0.4rem;
}

/* Styling for the buttons in the visuals section */
.visual__btns > button {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 20px;
  color: #fff;
  border-radius: 5px;
  background: none; /* Remove background */
  border: 4px solid transparent; /* Add transparent border */
  line-height: 45px;
  transition: all 0.3s ease;
  position: relative;
  margin: 0 10px; /* Add gap between buttons */
  animation: rotate 1.5s linear infinite;
  z-index: 2;
  border-image: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  border-image-slice: 1;

}



@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

/* Media query for screens with max width 900px */
@media only screen and (max-width: 900px) {
  .visuals {
    padding: 5px;
  }
}

/* Media query for screens with max width 600px */
@media only screen and (max-width: 600px) {
  .visual__btns {
    display: flex;
    margin-top: -20px;
  }

  .visuals {
    padding-top: 10px;
  }

  .visual__btns > button {
    margin-bottom: -3px;
  }
}
